*{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.text-color-one{
    color: rgba(13, 19, 33, 1.00);
}
.text-color-two{
    color: rgba(13, 19, 33, 1.00);
    opacity: 0.7;
    text-align: center;
}
.text-color-three{
    color: rgba(13, 19, 33, 1.00);
    opacity: 0.7;
}
.text-color-four{
    color: rgba(255, 255, 255, 1.00);
    opacity: 0.7;
}
.text-color-five{
    color: rgba(255, 255, 255, 1.00);
    font-size: 32px;
    font-weight: bold;
}
header{
    width: 1440;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
}
.header-head-div{
    padding: 26px 221px;
}
.header-div{
    text-align: center;
}
.header-head{
    width: 998;
    height: 136px;
    font-size: 48px;
}
.header-button{
    background-color: #0D1321;;
    color: #FFFFFF;
    padding: 21px 24px;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 32px;
}
.main-div-child{
    display: flex;
    padding: 45px;
    background-color: white;
    border-radius: 16px;
    justify-content: space-between;
}
.section-one{
    margin: 74px 150px;
    background-color: #fafafa;
    border-radius: 16px;
    padding: 80px 100px;
}
.section-head{
    width: 851;
    height: 39px;
    font-size: 32px;
    text-align: center;
}
.main-div{
    margin: 32px 0px;
}
.first-section-buttons{
    width: 150;
    height: 48px;
    font-size: 20px;
    margin-top: 32px;
    padding: 12px 20px;
}
.section-one-heads{
    font-size: 24px;
}
.main-div-gson-img{
    width: 274.17;
    height: 240px;
}
.main-div-gson{
    width: 477;
    height: 240px;
}
.main-head-div{
    margin-bottom: 48px;
}
.section-two{
    margin: 85px 150px;
}
.second-section-main-div{
    margin: 0px 144px;
}
.second-section-main-div-link{
    border: 1px solid #d1d1d1;
    border-radius: 16px;
    padding: 32px;
    text-align: center;
    margin-top: 48px;
}
.second-section-main-div-main-link{
    border-radius: 16px;
}
.section-three{
    width: 1140;
    height: 460px;
    margin: 150px;
}
.section-three-div-one{
    margin: 0px 144px;
    margin-bottom: 48px;
    width: 852;
    height: 113px;
}
.section-three-div-two{
    display: flex;
    justify-content: space-around;
}
.section-three-div-two{
    width: 1140;
    height: 299;
    gap: 24px;
}
.text-color-for-three-p{
    color: #0D1321;
    opacity: 0.7;
}
.ancore-three{
    font-weight: bold;
    width: 284;
    height: 19px;
    color: #0D1321;
    margin-top: 24px;
}
.section-three-div-two-child-one{
    padding: 40px;
    width: 364;
    height: 299px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}
.section-three-div-two-child-two{
    padding: 40px;
    width: 364;
    height: 299px;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}
.section-three-div-two-child-three{
    padding: 40px;
    width: 364;
    height: 299px;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
}
.section-four{
    margin: 60px 150px;
    width: 1140;
    height: 314px;
    border-radius: 16px;
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    padding: 64px 48px;
}
.section-four-main-div{
    margin: 0px 157px;
    text-align: center;
    padding: 0px 62px;
}
.section-four-secend-main-div{
    display: flex;
    gap: 16px;
    margin: 0px 180px;
    justify-content: center;
    margin-top: 50px;
}
.section-four-input{
    width: 1200;
    height: 58px;
    padding: 17px 20px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600px;
    border: none;
}
.section-four-testarea{
    width: 548;
    height: 57px;
    border-radius: 8px;
    border: none;
    background-color: #FFFFFF;
    color: rgba(13, 19, 33, 0.40);
    text-align: center;
}
